<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content= "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Describe</title>
    <link rel="icon" href ="{{ url_for('static', filename='img/иконка-_1_.ico') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/describe.css')}}">
    <! -- TODO настроить редиректы и подгрузить картинки-иконки -->
</head> 

<body>
    <selection class="icon_menu_top">
        <div class="icon-top">
            <div class="img_icon">
                <img src="{{ url_for('static', filename='img/иап ран.png') }}">
            </div>
            <a href="{{ url_for('index') }}" class="img_home">
                <img src="{{ url_for('static', filename='img/дом.png') }}">
            </a>
             
        </div>
    </selection> 
    
   <selection class="intro">
        <div class="container">
            <h1 class="intro__title">
                  ОПИСАНИЕ ПРЕДМЕТНОЙ ОБЛАСТИ
              </h1>
            <div class="intro__content">
              
              <h2 class="content_title1">
                 Что такое секвенирование?
              </h2>
                
                <p>
                    <b>Секвенирование</b> – «чтение ДНК», экспериментальный метод определения порядка расположения нуклеотидов в молекуле ДНК.
                
                </p>
                <p>
                    <u>На сегодняшний день выделяют три поколения секвенирования:</u> 
                
                </p>
                <ul>
                    <li>
                        <b>первое поколение (FGS)</b> было сформировано на основе технологии метода химической деградации, предложенные Максамом и Гилбертом, метода дидезокси-терминации цепи, разработанный командой Sanger в 1977 г., и автоматического секвенирования с помеченной флуоресценцией в 1990-х гг;
                    </li>
                    <li>
                        <b>второе поколение (SGS) или секвенирование следующего поколения (NGS)</b> относится к высокопроизводительным технологиям секвенирования ДНК, которые могут секвенировать миллионы или миллиарды нитей ДНК. При этом процесс определения последовательности происходит с использованием ферментативной репликации или амплификации, обеспечивающей значительную пропускную способность и многократное секвенирование целевых областей;
                    </li>
                    <li>
                        <b>третье поколение (TGS)</b> характеризуется путем добавления нуклеотидов по одному для получения длинных и точных результатов секвенирования, в то время как технология амплификации не используется.
                    </li>
                
                </ul>
                <p>
                    <b>Секвенатор</b> - это устройство, которое позволяет осуществлять секвенирование нового поколения, или NGS. Эта методика необходима для проведения геномного анализа. Полученные данные используются для диагностики редких наследственных заболеваний, а также множества патологий в таких разделах медицины, как неврология, кардиология, офтальмология, психиатрия, эпилептология, нефрология и др.

                </p>

               <h3 class="content_title2">
                   Нанофор СПС 
               </h3>
                <div class="nanofor">
                    <h5>
                <p>
                    <b>Нанофор  СПС</b> - первый российский прибор для массового параллельного секвенирования ДНК, разработанный на базе ИАП РАН.
                </p>    
                <p>
                    Нанофор СПС представляет собой аппаратно-программный комплекс массового параллельного секвенирования ДНК. АПК расшифровки последовательности НК патогенных микроорганизмов методом МПС предназначен для быстрой расшифровки полных последовательностей геномов патогенных микроорганизмов (бактерий и вирусов) для их дальнейшей идентификации.
                </p>
                </h5>
                <img src="{{ url_for('static', filename='img/НанофорСПС.png') }}">
              
                </div>
                <h4 class="content_title3">
                    Что мы делаем?
                
                </h4>
                <p>
                    С помощью данного приложения Вы можете провести вторичную обработку изображения (фотографии микрофлюидного чипа) , полученного Нанофором СПС.   Разработанный нами алгоритм проведет подсчет единичных пятен и кластеров на исходном изображении методами «машинного зрения» (CV).  В итоге Вы сможете получить количество пятен и количество распознанных кластеров пятен на изображении, которое будет соответствовать результатам эталонного алгоритма, использующего стандартные методы обработки изображений (Image Processing).
                </p>
              <div class="images">
                <figure>
                   <img src="{{ url_for('static', filename='img/пример.jpg') }}" alt="Image"><figcaption>
                   Исходное изображение
                   </figcaption>
               </figure>
                  
                <figure>
                   <img src="{{ url_for('static', filename='img/example.png') }}" alt="Image"><figcaption>
                   Обработанное изображение (увеличенный фрагмент)
                   </figcaption>
               </figure>
             </div>

          </div>
        </div> 
    </selection> 
    
 
  <selection class="icon_menu_back">
                    <div class="icon-back">
                        <a href="#top" class= "arrow">
                             <img src="{{ url_for('static', filename='img/стрелка.png') }}">
                        </a>
                        <a href="{{ url_for('index') }}" class= "btn-mainpage">
                            На главную страницу
                        </a>
                    </div>
    </selection>
                       
                
</body>   
</html>       