<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content= "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPS CV2</title>
    <link rel="icon" href ="{{url_for('static', filename='img/иконка-_1_.ico')}}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head> 
<body>

<section class="icon">
    <div class="icon-iapran">
        <img src="{{url_for('static', filename='img/иап ран.png')}}">
        
    </div>
</section>  
    
<selection class="intro">
    <div class="container">
        <div class="intro__content">
            <h1 class="intro__title">
                SPS CV2
            </h1>
            <h2 class="intro__descrip">
                Обработка изображений секвенатора параллельного секвенирования “Нанофор СПС” с помощью модуля CV2
            </h2>
            <div class="link">
                <a href="{{ url_for('describe') }}" class="next_list">
                    УЗНАТЬ БОЛЬШЕ
                </a>
                <a href="#openModal" class="upload-btn">
                    ЗАГРУЗИТЬ ФАЙЛ
                </a>
            </div>
           
        </div>
    </div>
</selection>
<div id="openModal" class="modal">
    <div class="modal_content">
        <div class="header">  
            <label class="input-file">
			<form id="uploadform" method="post" enctype="multipart/form-data">
		   	<input type="file" name="file" id= "file-ip-1" accept="image/jpeg, image/png, image/tif, image/tiff, .tif" onchange="showPreview(event)">
		   	<span>Выберите файл</span>
            </form>
 		</label>
            <a href="#close" class="close">
            <img src="{{url_for('static', filename='img/крестик.png')}}">
            </a>
        </div>
        <div class="preview">
                <img id="file-ip-1-preview" > <! -- TODO не отображается подгруженное изображение -->
        </div>
       
              <a id="btn_process" class="bth_resalt">
            Продолжить
              </a>  
    </div>
    
</div>    

</body>
</html>
